// Variables for reusable styles
$card-width: 220px;
$card-height: 250px;
$label-width: calc(#{$card-width}/2);
$label-height: calc(#{$card-height}/4);
$border-color: grey;
$hover-scale: 1.05;
$transition-time: 0.3s;
$bg-url: url("/media/bar-background.jpg");


$blur-amount: 5px;
$brightness: 0.5;


textarea:focus,
input:focus {
  outline: none;
}

body.who-am-i {
  margin: 0;
  background-color: black;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  // Overlay background with adjustments
  background: black $bg-url center no-repeat;
  background-color: black;
  background-size: cover;

  // Effects
  filter: blur($blur-amount) brightness($brightness);
}

// Mixin for hover effects
@mixin hover-effect {
  transition: transform $transition-time ease-in-out;

  &:hover {
    transform: scale($hover-scale);
  }
}


.panel {
  background-color: rgba(255, 252, 245, 0.58);
}

.card {
  @extend .panel;
  width: $card-width;
  height: $card-height;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// Base card styles
.player-card-body {
  @extend .card;
  overflow: hidden;

  &:hover .controls {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .controls {
    display: none;
  }

  .notes.hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    padding: 0;
    margin-top: -1px;
    margin-left: -1px;
  }

  .notes {
    display: none;
  }

}

.player-card {
  position: relative;
  .label {
    position: absolute;
    top: 0;
    box-shadow: 0 0 5px 1px black;
    left: calc(50% - $label-width/2);
    z-index: 30;
    padding: 5px;
    background-color: rgba(255, 239, 201, 1);
    cursor: move;

    textarea {
      width: $label-width;
      height: $label-height;
      background-color: transparent;
      border: none;

    }
  }

  .label-hidden::after {
    content: attr(dt-text);
    position: absolute;
    font-size: 40px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    color: gray;
    pointer-events: none;
  }

}


.label.animated {
  // animation: momentum 0.5s ease-in-out;
  transition: left 0.5s ease, top 0.5s ease;

  textarea {
    transition: width 0.5s ease, height 0.5s ease;
  }
}


.new-player-card {
  @extend .card;
  opacity: 0.5;
  cursor: pointer;

  .join-icon {
    font-size: 120px;
    color: $border-color;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  &:hover {
    .join-icon {
      transform: scale(1.2);
      color: black;
    }
  }
}


// Other styles

.avatar {
  width: $card-width;
  height: $card-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.muted {
  opacity: 0.5
}



.spectators {
  @extend .panel;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  padding: 3px;

  div {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  gap: 8px;
  padding-right: 8px;
}

.controls {
  @extend .panel;
}

.spectators-controls {
  @extend .spectators;

  &:hover {
    cursor: pointer;
  }
}

.controls-block {
  @extend .panel;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;

  &:hover div {
    display: flex;
  }

  div {
    display: none;
  }
}

.controls:hover {
  background-color: lightgreen;
  cursor: pointer;
}

// Players table

#players {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px
}

// notes and notes block

$notes-font-size: 14px;

.notes {
  @extend .panel;
  padding: 8px;
  width: 200px;
  height: 200px;
  font-size: $notes-font-size;
}

#notes-block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


@keyframes momentum {
  0% {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
  }

  30% {
    width: 120px;
    height: 120px;
    left: 20px;
    top: 20px;
  }

  50% {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
  }

  100% {
    width: 100px;
    height: 100px;
    left: 10px;
    top: 10px;
  }
}