.material-icons {
  font-size: 35px !important;
}

textarea:focus,
input:focus {
  outline: none;
}

body.who-am-i {
  margin: 0;
  background-color: black;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: black url("/media/bar-background.jpg") center no-repeat;
  background-color: black;
  background-size: cover;
  filter: blur(5px) brightness(0.5);
}

.panel, .notes, .controls-block, .controls, .spectators, .spectators-controls, .card, .new-player-card, .player-card-body {
  font-size: 20px;
  background-color: rgba(255, 252, 245, 0.58);
}

.card, .new-player-card, .player-card-body {
  width: 280px;
  height: 300px;
  position: relative;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player-card-body {
  overflow: hidden;
}
.player-card-body:hover .controls {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.player-card-body .controls {
  display: none;
}
.player-card-body .notes.hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  padding: 0;
  margin-top: -1px;
  margin-left: -1px;
}
.player-card-body .notes {
  display: none;
}

.player-card {
  position: relative;
}
.player-card .label {
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px 1px black;
  left: calc(50% - 280px / 2 / 2);
  z-index: 30;
  padding: 5px;
  background-color: rgb(255, 239, 201);
  cursor: move;
}
.player-card .label .label-text {
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  scrollbar-width: none;
  width: calc(280px / 2);
  height: calc(300px / 4);
  background-color: transparent;
  border: none;
}
.player-card .label-hidden {
  position: absolute;
  font-size: 40px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: gray;
  pointer-events: none;
}

.label.animated {
  transition: left 0.5s ease, top 0.5s ease;
}
.label.animated .label-text {
  transition: width 0.5s ease, height 0.5s ease;
}

.new-player-card {
  opacity: 0.5;
  cursor: pointer;
}
.new-player-card .join-icon {
  font-size: 120px;
  color: grey;
  transition: transform 0.3s ease, color 0.3s ease;
}
.new-player-card:hover .join-icon {
  transform: scale(1.2);
  color: black;
}

.avatar {
  width: 280px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.muted {
  opacity: 0.5;
}

.spectators, .spectators-controls {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  padding: 3px;
  gap: 8px;
  padding-right: 8px;
}
.spectators div, .spectators-controls div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.spectators-controls:hover {
  cursor: pointer;
}

.controls-block {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}
.controls-block:hover div {
  display: flex;
}
.controls-block div {
  display: none;
}

.controls:hover {
  background-color: lightgreen;
  cursor: pointer;
}

#players {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.notes {
  scrollbar-width: none;
  padding: 8px;
  width: 280px;
  height: 300px;
  font-size: 24px;
}

#notes-block {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@keyframes momentum {
  0% {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
  }
  30% {
    width: 120px;
    height: 120px;
    left: 20px;
    top: 20px;
  }
  50% {
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
  }
  100% {
    width: 100px;
    height: 100px;
    left: 10px;
    top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
